apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

# Override base Helm values with dev-specific ones
#helmCharts:
#- name: grafana
#  valuesFile: values-dev.yaml

# Add a "surgical" patch (e.g., adding a sidecar or changing a port)
patches:
- target:
    kind: Service
    name: grafana
  patch: |-
    - op: replace
      path: /spec/type
      value: NodePort
